html{
    background-image: url("../img/fondo.jpg");
}


#logo{
    width: 100px;
}

#divLogo{
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.5);
    border-radius: 25PX;
    padding: 10px 0px 10px 0px;
    
}

/* --modificamos la lista etera como conjunto 'ul'-- */
#listaNav{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
    padding: 0;
}
/* --estamos modificando el `li' lineas de la lista-- */
#listaNav li{
flex-direction: row;
background-color: whitesmoke;
box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.2);
border-radius: 25PX;
padding: 10px 5px 10px 5px;
width: 25%;
justify-content: center;
}
/* --el estilo se va aplicar dentro de todos los ul-- */
#listaNav a{
text-decoration: none;
display: block;
font-weight:bold;
color:rgb(7, 0, 8);
}
/* para cambiar los estilos pasando por encima el raton */

#listaNav li:hover{
background-color:rgb(196, 0, 136,0.5) ;
cursor: url("./img/logoGame.png"), auto !important;

}








#infoGame p{
    margin-bottom: 50px;
    color: black;
    text-align: center;
    line-height: 50px;
}

#infoGame {
    padding: 50px 20px 50px 20px;
    position: relative;
    
    background-color: rgb(153, 50, 204, 0.5);
    border-radius: 50px;
    margin-left: 25px;
    margin-right:25px ;
    
}



#divFooter{
text-align: right;
background-color: whitesmoke;
box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.5);
border-radius: 25PX;
padding: 10px 0px 10px 0px;

}

footer {
    margin-top: 2%;
bottom: 0;
width: 100%;
}

#divFooter p {
margin-left:25px ;
margin-right:25px ;
}

@media (max-width: 700px) {
    #infoGame {
        margin-bottom: 100px;
    }

    #listaNav{
        flex-direction: column;
        margin-right: 10px;
    }

    #listaNav li{
        width: 100%;
    }

   

}