html{
    background-image: url("../img/fondo.jpg");
}


#logo{
    width: 100px;
}

#divLogo{
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.5);
    border-radius: 25PX;
    padding: 10px 0px 10px 0px;
    
}

#listaNav{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
    padding: 0;
}

#listaNav li{
flex-direction: row;
background-color: whitesmoke;
box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.2);
border-radius: 25PX;
padding: 10px 5px 10px 5px;
width: 25%;
justify-content: center;
}

#listaNav a{
text-decoration: none;
display: block;
font-weight:bold;
color:rgb(7, 0, 8);
}

#listaNav li:hover{
background-color:rgb(196, 0, 136,0.5) ;
cursor: url("./img/logoGame.png"), auto !important;

}


#formulario{
    height: 500px;
    margin-top: 200px;
    font-size: 30px;
}


#divFooter{
    text-align: right;
    background-color: whitesmoke;
    box-shadow: 0px -5px 10px 15px rgba(0,0,0,0.5);
    border-radius: 25PX;
    padding: 10px 0px 10px 0px;
    
    }
    
    footer {
        margin-top: 2%;
    bottom: 0;
    width: 100%;
    }
    
    #divFooter p {
    margin-left:25px ;
    margin-right:25px ;
    }
    
@media (max-width: 700px) {

    #listaNav{
        flex-direction: column;
        margin-right: 10px;
    }

    #listaNav li{
        width: 100%;
    }
}